<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>DevBBQ</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link class="include" rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
  <link href="https://s3-us-west-2.amazonaws.com/user-upload786/WeBuild/assets/css/style.css" rel="stylesheet">
  <link class="include" rel="stylesheet" type="text/css" href="https://s3-us-west-2.amazonaws.com/user-upload786/jglot/jquery.jqplot.min.css"/>
  <script type="text/javascript" src="https://s3-us-west-2.amazonaws.com/user-upload786/jglot/jquery.jqplot.min.js"></script>
  <script class="include" language="javascript" type="text/javascript" src="https://s3-us-west-2.amazonaws.com/user-upload786/jglot/plugins/jqplot.barRenderer.min.js"></script>
  <script class="include" language="javascript" type="text/javascript" src="https://s3-us-west-2.amazonaws.com/user-upload786/jglot/plugins/jqplot.pointLabels.min.js"></script>
  <script class="include" language="javascript" type="text/javascript" src="https://s3-us-west-2.amazonaws.com/user-upload786/jglot/plugins/jqplot.categoryAxisRenderer.min.js"></script>
</head>
<body>

<div id="devise" class="container text-right">
  <% if user_signed_in? %>
      <p>
        Logged in as <strong><%= current_user.email %></strong>.
      </p>

      <%= link_to 'Edit profile', edit_user_registration_path, :class => 'btn btn-theme' %>
      <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'btn btn-theme' %>
  <% else %>
      <%= link_to new_user_registration_path, :class => 'navbar-link btn btn-warning' do %>
          <span class="glyphicon glyphicon-heart"></span>Sign up
      <% end %>

      <%= link_to new_user_session_path, :class => 'navbar-link btn btn-success' do %>
          <span class="glyphicon glyphicon-share-alt"></span> Login
      <% end %>
  <% end %>
</div>
<br><br>

<div class="mg-about">
  <div class="container">
    <div id="stat">
      <div>Click below to donate $1000 to Wikipedia monthly:</div><br>
      <div id="result" class="alert alert-success" style="display: none;">Sending an email to careers@devbbq.com ...</div>

      <%= form_for(@click, remote: true) do |f| %>
          <%= f.submit 'Donate', class: "btn btn-theme" %>
      <% end %>
      <br><br>

      <div>Donors Statistics by Month:</div>
      <div class="row">
        <div id="chart"></div>
      </div>


      <div class="demo demo2 text-center"></div>

      <p>Data available from <%= Date::MONTHNAMES[@min.to_i] %> to <%= Date::MONTHNAMES[@max.to_i] %>, 2015</p>
    </div>
  </div>
</div>


<script>
  var month = <%= @month %>;
  var min = <%= @min %>;
  var max = <%= @max %>;

  $(document).ready(function () {
    plotGraph(<%= @stat %>, "Click Statistic for <%= Date::MONTHNAMES[@month.to_i] %>");

    $('.demo2').bootpag({
      total: max - min + 1,
      page: max - min + 1,
      maxVisible: 3
    }).on('page', function (event, num) {
      m = min + num - 1;
      getClickStat(m);
    });

  });
</script>
</body>
</html>
