<div class="mg-about">
  <div class="container">
    <div id="stat">
      <div>Click below to donate $1000 to Wikipedia monthly:</div>
      <br>

      <div id="result" class="alert alert-success" style="display: none;">Thank you for the donation!
      </div>

      <%= form_for(@click, remote: true) do |f| %>
          <%= f.submit 'Donate', class: "btn btn-theme" %>
      <% end %>
      <br><br>

      <div>Donors Sign Up Statistics by Month:</div>
      <div class="row">
        <div id="chart"></div>
      </div>

      <div class="demo demo2 text-center"></div>

      <p>Data available from <%= Date::MONTHNAMES[@min.to_i] %> to <%= Date::MONTHNAMES[@max.to_i] %>, 2015</p>
    </div>
  </div>
</div>


<script type="text/javascript">
  $(document).ready(function () {
    var month = <%= @month %>;
    var min = <%= @min %>;
    var max = <%= @max %>;

    plotGraph(<%= @stat %>, "Click Statistic for <%= Date::MONTHNAMES[@month.to_i] %>, 2015");

    $('.demo2').bootpag({
      total: max > min ? max - min + 1: max - min + 13,
      page: max > min ? max - min + 1: max - min + 13, //default page
      maxVisible: 3
    }).on('page', function (event, num) {
      month = num + min - 1 > 12 ? num + min - 13 : num + min - 1;
      getClickStat(month, min, max);
    });
  });
</script>

